@media screen and (max-width: 450px) {

	html {
		background-color: #FFFFFF;
		font-size: 1em;

	}

	body {
		max-width: 100%;
	}

	header img.elefant {
		display: none;
	}
	
}



@media screen and (min-width: 451px) {

	html {
		background-color: #FFFFFF;
		margin: 20px 0px;
	}

	body {
		max-width: 60em;
	}


	header .elefant {
		height: 50%;
		width: 50%;
		float: left;
	}


	header {
		text-align: center;
		max-width: 31.25em;
		margin-left: auto;
	 	margin-right: auto;
	}

	span#wave {
		font-style: italic;
	}

	div.entries {

		text-align: center;
		max-width: 25em;
		margin-left: auto;
	  margin-right: auto;

	}

	div.entries a {
		color: green;
	}

	div.home {

		text-align: center;
		max-width: 25em;
		margin-left: auto;
	  margin-right: auto;

	}

	div.home a {
		color: green;
	}


	div.content {
		font-style: italic;
		max-width: 37.5em;
		text-align: center;
		position: relative;
		padding: 0.125em;
		margin-left: auto;
	  	margin-right: auto;

	}

	img#wave {
		height: 15.625em;
		width: 23.125em;
	}




}

/*Overall*/

body {
	margin: 0px auto;
	padding: 1em;
	font-family: helvetica;
}

.clear {
	clear: both;
}

a {
	text-decoration: none;
}

a:hover {
	color: red;
	text-decoration: bold;
}

a:visited {
	color: black;
}


/*Header*/

header .intro {
	/*float: right;*/
	text-align: center;
/*	border: 1px dashed black;*/
}

header .intro h1 a {
	color: violet;
}


header .intro nav {
	/*	border: 1px dashed pink;*/
}

header nav div  {
	max-width: 100%;
	margin: 0.5em;

}

header nav {
	font-size: 1.5em;
}

header nav a:hover {
	font-size: 1.1em;
	color: red;
}

footer a {
	margin-right: 1.5em;
}

header nav .navlinks {
	display: none;
	font-size: 0.5em;
	margin-bottom: 1em;
}


/* Section */

section {
	max-width: 80%;
	margin: 0 auto;
}


/* Footer */

footer {
	border-top: 1px dashed black;
	padding-top: 0.25em;
	max-width: 30em;
	text-align: center;
	margin: 0em auto;
}

footer a {

	font-size: 0.900em;
}