@media screen and (max-width: 450px) {

	html {
		background-color: #FFFFFF;

	}

	body {
		font-size: 10px;
	}

	header .logo h1 a {

	}

	header .logo .elefant {
		height: 25%;
		width: 25%;
		float: left;
	}
	
}



@media screen and (min-width: 451px) {

	html {
		background-color: #FFFFFF;
		margin: 20px 0px;
	}

	body {
		max-width: 60em;
	}


	header .logo .elefant {
		height: 50%;
		width: 50%;
		float: left;
	}



	a {
		text-decoration: none;
		font-family: helvetica;
		font-size: 0.875em;
		color: black;
	}

	a:hover {
		font-size: 100%;
		color: red;
		text-decoration: bold;
	}

	.clear {
		clear: both;
	}



	header {
		text-align:center;
		max-width: 31.25em;
		margin-left: auto;
	 	margin-right: auto;
	}

	span#wave {
		font-style: italic;
	}

	div.entries {

		text-align: center;
		max-width: 25em;
		margin-left: auto;
	  margin-right: auto;

	}

	div.entries a {
		color: green;
	}

	div.home {

		text-align: center;
		max-width: 25em;
		margin-left: auto;
	  margin-right: auto;

	}

	div.home a {
		color: green;
	}


	div.content {
		font-style: italic;
		max-width: 37.5em;
		text-align: center;
		position: relative;
		padding: 0.125em;
		margin-left: auto;
	  	margin-right: auto;

	}

	img#wave {
		height: 15.625em;
		width: 23.125em;
	}








}



body {
	margin: 0px auto;
	padding: 1em;
	font-family: helvetica;
}


header .logo h1 a {
	color: violet;
	text-decoration: none;

}


.intro {
	position: absolute;
	bottom: 0em;

}

header .logo h1 {
	color: purple;
	text-decoration: italic;
}

footer {
	max-width: 20em;
	text-align: center;
	position: relative;
	padding: 0.125em;
	margin: 0em auto;
 	border-top: 1px solid green;
}
